
body {
  font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
  background-color: #000000; /* Fundo preto */
  color: #39FF14; /* Texto em verde neon */
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000; /* Fundo preto */
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #39FF14; /* Linha divisória em verde neon */
}

header h1 {
  color: #39FF14; /* Texto em verde neon */
}

/* Estilo das abas */
.tab {
  overflow: hidden;
  background-color: #000000;
}

/* Estilo dos botões das abas */
.tab button {
  background-color: #000000; /* Fundo preto */
  float: left;
  border: 1px solid #39FF14; /* Borda em verde neon */
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  color: #39FF14; /* Texto em verde neon */
  margin: 0 2px;
}

/* Muda a cor do texto dos botões ao passar o mouse */
.tab button:hover {
  color: #FFFFFF; /* Texto em branco */
  background-color: #121212; /* Fundo um pouco mais claro */
}

/* Cria uma classe ativa para os botões */
.tab button.active {
  background-color: #121212; /* Fundo um pouco mais claro */
  color: #FFFFFF; /* Texto em branco */
}

/* Estilo do conteúdo da aba */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #121212; /* Fundo um pouco mais claro */
  color: #FFFFFF; /* Texto em branco */
}

footer {
  background-color: #000000; /* Fundo preto */
  color: #39FF14; /* Texto em verde neon */
  text-align: center;
  padding: 10px 0;
  position: relative; /* Ajustado para 'relative' */
  width: 100%;
}

@media (max-width: 600px) {
  body {
    background-color: #000000; /* Mantendo o fundo preto */
  }
}
