body {
  font-family: 'Consolas', 'Monaco', 'Lucida Console', monospace;
  background-color: #000000; /* Fundo preto */
  color: #39FF14; /* Texto em verde neon */
  margin: 0;
  padding: 0;
}

header {
  background-color: #000000; /* Fundo preto */
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #39FF14; /* Linha divisória em verde neon */
}

header h1 {
  color: #39FF14; /* Texto em verde neon */
}

main {
  padding: 20px;
}

#articles, #videos {
  margin-bottom: 20px;
}

article {
  background-color: #000000; /* Fundo preto */
  margin-bottom: 15px;
  padding: 15px;
  border: 1px solid #39FF14; /* Borda em verde neon */
}

article h3 {
  color: #39FF14; /* Texto em verde neon */
}

article p, article a {
  color: #39FF14; /* Texto em verde neon */
}

article a {
  text-decoration: none; /* Remover sublinhado dos links */
  font-weight: bold;
}

article a:hover {
  color: #FFFFFF; /* Branco para hover */
}

footer {
  background-color: #000000; /* Fundo preto */
  color: #39FF14; /* Texto em verde neon */
  text-align: center;
  padding: 10px 0;
  position: relative; /* Ajustado para 'relative' */
  width: 100%;
}

/* Estilo para vídeos */
video {
  width: 100%; /* Faz o vídeo responsivo */
  height: auto;
}

@media (max-width: 600px) {
  body {
    background-color: #000000; /* Mantendo o fundo preto */
  }
}
